* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
    overflow: hidden;
}
.col-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 30;
    .logo{
        a{
            img{
                padding-top: 20px;
                width: 120px;
            }
        }
    }
    .topics{
        ul{
            display: flex;
            gap: 100px;
            li{
                a{
                    color: black;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 5px;
                }
                a:hover{
                    border-bottom: 2px solid rgba(0, 34, 255, 0.388);
                }
            }
        }
    }
    nav{
        ul{
            display: flex;
            gap: 50px;
            li{
                font-size: 13px;
                a{
                    color: black;
                    font-size: 13px;
                    img{
                        width: 50px;
                    }
                }
            }
        }
    }
}
.col{
    display: flex;
    .description{
        width: 300px;
        height: 590px;
        border: 1px solid rgba(0, 0, 0, 0.271);
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;

        .title{
            p{
                font-size: 25px;
                text-align: center;
                font-weight: 500;
            }
        }
        .sub-title{
            font-size: 15px;
            text-align: center;
        }
        .price{
            color: black;
            font-size: 35px;
            display: flex;
        }
        .btn{
            display: flex;
            justify-content: center;
            button{
                width: 200px;
                height: 40px;
                background-color: blue;
                border: none;
                border-radius: 25px;
                color: white;
                font-weight: 600;
                font-size: 15px;
            }
            button:hover{
                background-color: white;
                color: black;
                border: 1px solid rgba(0, 0, 0, 0.341);
                transition: 0.3s all;
            }
        }
    }
    .product{
        width: 900px;
        height: 590px;
        border: 1px solid rgba(0, 0, 0, 0.271);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .col-img{
            width: 800px;
            img{
                margin-left: 0px;
                width: 60%;
            }
            img:hover{
                transform: scale(1.5); /* Aumenta a imagem em 1.5x */
                cursor: zoom-in; /* Mostra o ícone de zoom */ 
    
              }
        }
    }
    .costumize{
        width: 300px;
        height: 590px;
        border: 1px solid rgba(0, 0, 0, 0.119);

        .size{
            margin-top: 150px;
            .title-size{
                margin-bottom: 50px;
                p{
                    text-align: center;
                    font-size: 20px;
                    font-weight: 450;
                }
            }
            .sizes{
                margin-left: 40px;

                .box1{
                    margin: 0 auto;
                    align-content: center;
                    display: inline-block;
                    text-align: center;
                    width: 100px;
                    height: 40px;
                    border: 1px solid rgba(0, 0, 0, 0.286);
                }   
            }
        }
        .color{
            .title-color{
                margin-top: 20px;
                p{
                    text-align: center;
                    font-size: 20px; 
                    font-weight: 450; 
                }
            }
            .colors{
                display: flex;
                display: inline-block;
                margin-left: 40px;
                .color{
                    margin-top: 20px;
                    align-content: center;
                    display: inline-block;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: #ccc;
                }
            }
        }
    }
}
